html
head
link(href='css/style.css' rel='stylesheet')
script(src='js/main.js')
body
ul.mainbox
 audio#MyAudio
  source(src='audio/path.mp3' type='audio/mpeg')
 audio#MyAudotwo
  source(src='audio/path2.mp3' type='audio/mpeg')
 img#img(src='img/fan.png')
 div#section
 div.button
  button(onclick='clickpluse()') OFF
  button(onclick='clickone()') #{btnone}
  button(onclick='clicktwo()') #{btntwo}
  button(onclick='clickthree()') #{btnthree}